build/
build-*/
cmake-build-*/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

/run/

*.o
*.a
*.so
*.ko
*.mod
*.mod.c
*.mod.o
*.cmd
*.order
*.symvers

moc_*.cpp
ui_*.h
qrc_*.cpp
.qmake.stash
*.user
*.autosave